
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#iniciar {
    background: rgba(0, 0, 0, 0.455);
    border: none;
    border-radius: 0.7em;
    padding: 3em 8em;
    color: white;
    margin-right: 1.25em;
    margin-top: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    
}