body {
  height: 100vh;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: rgb(16, 16, 16);
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
}

p {
  color: white;
}

.perfil {
  display: flex;
  flex-direction: row;
  background-color: rgb(52, 51, 51);
  padding: 20px;
  border-radius: 30px;
}

.imagen {
  border-radius: 50%;
  height: 8vh;
  size-adjust: contain;
  order: -1;
}

#button,
#input {
  background: rgba(0, 0, 0, 0.455);
  border: none;
  border-radius: 0.7em;
  padding: 1.5em 2em;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1em;
  font-style: rgb(120, 120, 120);
  text-align: left;
}

#button {
  width: 60vw;
  height: 8vh;
}

#input {
  width: 25vw;
  height: 13vh;
  padding: 10px;
  margin: 20px;
  text-align: start;
}

#boton {
  background: rgba(0, 0, 0, 0.455);
  border: none;
  border-radius: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1em;
  font-style: rgb(120, 120, 120);
  text-align: left;
  margin-top: 30px;
  width: 40vw;
  height: 3vh;
  text-align: center;
}

/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #393939;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mateo {
  display: flex;
  flex-direction: row;
}

#contenido {
  display: flex;
  flex-direction: column;
}

h2, h3 {
  order: 0;
  color: aliceblue;
}

span {
  order: 1;
}

.chat {
  display: flex;
  flex-direction: row;
  background-color: rgb(52, 51, 51);
  padding: 20px;
  border-radius: 30px;
  width: 67vw;
  height: auto;
  margin: 20px;
}

.parrafo {
  word-wrap: break-word;
  margin-left: 50px;
  margin-bottom: 30px;
}

h3 {
  margin-left: 50px;
}